{% extends "basee.html" %}
{% load staticfiles %}
{% block title %}
Tu carito de compras
{% endblock %}
{% block contenido %}
    <style>
    .img-responsive-c {
    max-width: 30%;
    height: auto;
    display: block;
}
    </style>
    <h4>Tu carrito</h4>

    <div class="mdl-grid">
		<div class="mdl-cell mdl-cell--3-col">
			   <a href="{% url "shop:product_list" %}" class="continue">Continuar comprando</a>
			<div class="clearfix"></div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Detalle de la compra</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                    Total: ${{ cart.get_total_price }}.
                </span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url "orders:order_create" %}" data-upgraded=",MaterialButton">
                  Pagar
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>
            <div class="total-item">
				<h3>OPCIONES</h3>
				<h4>CUPONES</h4>
				<a class="cpns" href="#">Cambiar Cupones</a>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--9-col">
			<h3>Productos</h3>
			<div class="cart-header">
				<div class="close1"> </div>
			 </div>
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Material</th>
                  <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                     <th>Total</th>
                    <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td>
                                <img class="img-responsive-c" src="{{ product.imagen.url}}">
                            </td>
                            <td>{{ product.nombre }}</td>
                            <td>{{ item.price }}</td>
                            <td>
                                <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                {% csrf_token %}
                                                {{ item.update_quantity_form.quantity }}
                                                {{ item.update_quantity_form.update }}
                                                <input type="submit"  value="Actualizar" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                                </form>
                            </td>
                        <td>
                            {{ item.total_price }}
                        </td>
                        <td>
                            <a href="{% url "cart:cart_remove" product.id%}" class="mdl-button mdl-js-button mdl-button--primary">Eiminar</a>
                        </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
              </tbody>
            </table>


		</div>
		<div class="clearfix"> </div>
	</div>
{% endblock %}