<!DOCTYPE html>
<html>
<head>
<title>{% block title %}My shop{% endblock %}</title>
    {% load staticfiles %}
<!-- Custom Theme files -->
<!--theme style-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />


<!--//theme style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- start menu -->
<script src="{% static 'js/simpleCart.min.js' %}"> </script>
<script src="{% static 'js/hola.js' %}"> </script>
<script src="{% static 'js/imagezoom.js' %}"> </script>
<!-- start menu -->
<style>
  .demo-card-square.mdl-card {
    width: 15%;
    height: 30%;
    float: left;
    margin: .5rem;
    position: relative;
  }

  .demo-card-square.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }

  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: #03a9f4;
  }

  .demo-card-square > .mdl-card__accent {
    background: #ff9800;
  }
    .mdl-card__media > img {
  max-width: 100%;
}
    .mdl-card__actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
	margin-right: 3px;
	margin-left: 3px;
}
</style>
<!-- /start menu -->
</head>
<body>

<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Solidfounds Ecomerce</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="waterfall-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="waterfall-exp">
        </div>
      </div>
    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">
                      {% with total_items=cart|length %}
              {% if cart|length > 0 %}
                  <i class="material-icons">add_shopping_cart</i>
                  <a href="{% url "cart:cart_detail" %}">
                      ${{ cart.get_total_price }}
                      <div class="total">
                          ({{ total_items }})</div>
                  </a>
              {% else %}
                  <i class="material-icons">add_shopping_cart</i>
                  Carrito  Vacio.
              {% endif %}
          {% endwith %}
        </a>
            <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
              <li class="mdl-menu__item">Some Action</li>
              <li class="mdl-menu__item">Another Action</li>
              <li disabled class="mdl-menu__item">Disabled Action</li>
              <li class="mdl-menu__item">Yet Another Action</li>
            </ul>

      </nav>
    </div>
  </header>
    <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Opciones</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
      <div class="page-content">
        <div class="  mdl-color--grey-100">
		    <div class="mdl-grid">
                {% block contenido %}
                {% endblock %}
            </div>
        </div>
      </div>
  </main>
</div>
								<div class="col1 me-one">
									<h4>Categorias</h4>
                                    <ul>
                                        {% for c in categorias %}
                                         {% if categoria.slug == c.slug %}class="selected"{% endif %}
                                            <li><a href="{{ c.get_absolute_url }}">{{ c.nombre }}</a></li>
                                        {% endfor %}
									</ul>
								</div>


{#					<li class="grid">#}
{#                        <form role="search" action="/s">#}
{#                            <div>#}
{#                                <label>#}
{#                                    <input placeholder="buscar" type="text" name="q">#}
{#                                    <input type="submit" >#}
{#                                </label>#}
{#                            </div>#}
{#				        </form>#}
{#                    </li>#}


			 <!---->
			 <div class="">


				<p>
                    <a href="javascript:;" class="simpleCart_empty">
                    </a>
                </p>
			 	<div class="clearfix"> </div>
			 </div>
			 <div class="clearfix"> </div>
			 <!---->
			<div class="clearfix"> </div>
<script src="{% static 'js/bootstrap.js' %}"> </script>
<!---->
<div class="offers">
	 <div class="container">

	 </div>
</div>
<!---->
<div class="subscribe">
	 <div class="container">
	 </div>
</div>
<!---->
<div class="footer">

</div>

<!---->
</body>
</html>
